@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@1&family=Dancing+Script:wght@500&display=swap');

body{
    background: rgb(68, 210, 235); 
}
div.container{
    background: rgb(8, 102, 114);
}
h1{
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
}
.navbar{
    background: rgb(8, 102, 114);
}
.navbar-brand {
    padding-top: 25px;
    font-family: 'Alegreya', serif;
    color: #1a2252;
    font-size: 2.5em;
    margin-top: -15px;
    text-shadow: 1px 1px 1px #222;
}
.navbar-brand a:hover,a:focus{
  text-decoration: none;
}
.navbar-toggle,.icon-bar{
    background: rgb(8, 102, 114);
    border-color:  rgb(88, 218, 235);
}
.icon-bar{
    background: rgb(88, 218, 235);
    border-color:  #ccc;
}
#myNavbar a{
    background: rgb(11, 168, 216);
    color: rgb(7, 5, 5);
}
#myNavbar a:hover{
    background: #ccc;
    margin-bottom: 2px;
    border: 1px solid;
}
li{
    box-sizing: border-box;
    border:1px solid black
}
.navbar-collapse{
    color: #ccc;
    box-sizing: border-box;
    font-family: 'Alegreya', serif;
    font-size: 20px;
}
.Order{
    text-align: center;
    display: flex;
    width: auto;
    justify-content: center;
    flex-wrap: wrap;
}
.Order .item{
    background: rgb(11, 168, 216);
    margin: 30px;
    margin-bottom: 15px;
}

p{
    margin-top: 5px;
    padding: 10px;
    margin-bottom: 5px; 
}
#p1{
    text-align: center;
   color: rgb(26, 22, 243);
   font-family: 'Alegreya', serif; 
   font-size: 33px;
   font-weight: 900;
}


